/* ---- Header style -------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    background-color: #670099;
    position: sticky;
    top: 0;
    z-index: 999;
}
p{
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}
.nav-head .navbar-nav .nav-item .nav-link:hover{
   color: #fff;
   background-color: #000;
}
.nav-head .navbar-nav .nav-item .nav-link:active{
   color: #fff;
   background-color: #000;
}
.nav-head .nav-link.active{
   color: #fff;
   background-color: #000;
}
 /* -------side-bar-style-------- */
 .side-bar{
    background-color: rgb(216 216 216 / 81%);
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 30px 30px;
 }
 /* width */
 .side-bar::-webkit-scrollbar {
    width: 4px;
  }
  
/* Track */
.side-bar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
.side-bar::-webkit-scrollbar-thumb {
background:#670099;
border-radius: 10px;
}
  
/* Handle on hover */
.side-bar::-webkit-scrollbar-thumb:hover {
background: #555;
}


 .list{
    padding: 0;
 }
 .list:first-child{
    color: black;
 }
 .list li{
    list-style: none;
    color: #000;
    font-weight: 700;
    line-height: 1.4;
    font-size: 16px;
 }
 .list li a{
    text-decoration: none;
    color: #777;
    /* white-space: nowrap; */
    font-weight: 400;
    display: block;
    padding: 5px 0;
    font-size: 14px;
    
 }
 .list li a:hover{
    color: #000;
 }
 /* ------------main-content-style---------- */
 .fab-bg{
   background-image: linear-gradient(rgb(0 0 0 / 50%),rgb(0 0 0 / 50%),rgb(0 0 0 / 50%)), url(../image/fabevy-bg.jpg);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 20px 0;
 }
 .main-content{
    /* border-bottom: solid 1px #ccc;
    padding-bottom: 30px; */
    margin-bottom: 60px;;
 }
 .main-content ul li{
    padding-bottom: 10px;
    font-size: 14px;
    /* text-transform: capitalize; */
 }
 .main-content ol li{
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: lower-alpha;
    /* text-transform: capitalize; */
 }
 .main-content ol li::marker{
    color: #000;
    font-weight: 600;
    font-size: 16px;
 }
 /* .main-content .number ol li{
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type:decimal;
 } */
 .intro h1{
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* text-transform: capitalize; */
 }
 .intro h3,h2{
    margin-top: 25px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
 }  
 .intro h4{
   margin-top: 15px;
   color: #000;
   font-size: 1.3rem;
   font-weight: 500;
   margin-bottom: 15px;
 }
 /* ----------------------policy------------------------- */
 /* .nav-item {
   padding: 0 15px;
 } */
 .nav-item a {
   text-decoration: none;
   color: white;     
 }
 .dropdown-menu{
   box-shadow: -1px 4px 15px 2px #888888
 }
 .dropdown-menu a {
   text-decoration: none;
   color:#000; 
   transition: all .8s ease;    
 }
 .dropdown-menu a:hover{
   color: white;
   background-color: #000;
   border-radius: 5px;
   transform: scale(0.9);
 }
 .nav-head .navbar-nav .nav-item{
   padding: 0px 4px;
   
 } 
 .dropdown-item.active, .dropdown-item:active{
   color: white;
   background-color: #000;
   border-radius: 5px;
 }
 .nav-link:focus, .nav-link:hover{
   color: white;
 }
 /* ===================footer-sec=================== */
 .footer-sec{
   background-color: #670099;
 }
 .footer-sec .copy-right p{
   color: #fff;
   
    padding-top: 1rem;
 }
 .footer-sec .copy-right a{
   text-decoration: none;
   color: #fff;
   
 }
 .align-items-center{
   align-items: center;
 }
 .social-media{
   display: flex;
    justify-content: right;
 }
 .social-media a{
   width: 30px;
   display: inline-block;
   height: 30px;
   font-size: 14px;
   line-height: 2;
   border-radius: 50px;
   text-align: center;
   margin-right: 5px;
   background: #000;
   text-decoration: none;
   margin-left: 5px;
   color: #fff;
    transition: all 0.5s ease;
 }
 
 .social-media a:hover{
  opacity: 0.8;
   transform: scale(1.2);
 }
 .home-content{
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 0px 0px #000;
  border: 1px solid transparent;
  padding: 20px 0px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 20px;
 }

 .home-content a{
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding-top: 25px;
 }
 .home-content:hover{
   box-shadow: 0px 0px 4px 2px #ede7f194;
   border: none;
   animation-name: fabevy;
   animation-timing-function: linear;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   transform: translatey(0);
   transition: all 0.8s ease;
 }
 @keyframes fabevy{
   100%{
      transform: translatey(-10px);
   }
 }
 .home-content h4{
   font-size: 1.1rem;
   font-weight: 400;
 }
 .fab-bg h2{
   color: #fff;
   font-size: 1.4rem;
   font-weight: 700;
 }
 .home-content i{
  position: absolute;
  top: -22%;
  background: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #00000054;
  border-radius: 30px;
  text-align: center;
  padding: 8px 0;
  right: 45%;
  color: #000;
 }
 .home-content .img-bg{
  width: 40px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: -22%;
  left: 44%;
  background: #fff;
 }
 .home-content .img-bg img{
  width: 100%;
  display: block;
  border-radius: 50%;
 }
